/* login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    font-family: 'Arial', sans-serif;
    margin: 0;
  }
  
  .login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* width: 300px; */
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .login-container p{
    cursor: pointer;
  }
  
  .login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .login-container input:focus {
    border-color: #ff7e5f;
    outline: none;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ff7e5f;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-container button:hover {
    background: #feb47b;
  }
  